header {
  background-color: #b1bff9;
  width: 100%;

  box-sizing: border-box;
  box-shadow: 0px 5px 5px #7b8ce0;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 100px;

    &:hover {
      cursor: pointer;
    }
  }

  .logout-btn {
    text-decoration: underline;
    color: white;
    margin-right: 10px;
    font-size: 25px;
    transition: 0.5s;
    display: inline;

    &:hover {
      color: #424180;
      cursor: pointer;
    }
  }

  a {
    color: white;
    margin-right: 10px;
    font-size: 25px;
    transition: 0.5s;

    &:hover {
      color: #424180;
      cursor: pointer;
    }
  }
}