div.align {
  display: flex;
  margin-top: 30px;

  // 왼쪽
  .gooMap {
    height: 700px;
    display: flex;
    flex-direction: column;

    // 지도
    #map {
      border: 2px solid #424180;
      border-radius: 5px;
      width: 466.66px;
      height: 300px;
    }

    // 위치 정보 (사진, 지명)
    #locationInfo {
      margin-bottom: 30px;

      .frame {
        background: rgba(255, 255, 255, 0.5);
        width: 466.66px;
        height: 270px;
        overflow: hidden;
        border-radius: 5px;
        position: relative;

        img {
          width: 100%;
          height: auto;
        }

        .locationNotSelected {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            margin: 0 0 15px 0;
            width: 30%;
          }
        }
      }

      .text {
        width: 100%;
        padding: 15px;
        background: linear-gradient(transparent 5%, #424180 80%);
        position: absolute;
        bottom: 0;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h3 {
          font-size: 30px;
          font-weight: 600;
          margin: 0;

          width: 450px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        p {
          font-size: 15px;
          font-weight: 200;
          margin: 5px 0 0;

          width: 450px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  div#movieDetailRight {

    display: flex;
    flex-direction: column;

  }

  #frame {
    margin-left: 50px;
    background: rgba(255, 255, 255, 0.5);
    width: 430.1px;
    height: 600px;
    overflow: hidden;
    border-radius: 5px;

    img {
      width: 100%;
      height: auto;
    }

    h3 {
      color: #424180;
      font-weight: 600;
      margin: 10px;
    }

    .hotelNotSelected {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin: 0 0 15px 0;
        width: 30%;
      }
    }
  }
}