// 캐러셀 디자인
.css-o4fv81-MuiGrid-root {
	.carousel-item img {
		height: 100vh;
		transition: 0.5s ease-in-out;
	}
}

// '떠나볼까?' 버튼 위치 조절 및 디자인
.position {
	position: relative;
	box-sizing: border-box;
	overflow: hidden;

	#openLogin {
		position: absolute;
		left: 5%;
		bottom: 10%;
		z-index: 50;
		color: #fff;
		font-size: 70px;
		transition: 0.5s;
		text-decoration: none;
		cursor: pointer;

		width: 350px;
		height: 100px;
		border-radius: 10px;
		padding: 20px 0 0;

		transition: 0.5s ease-in-out;

		&.login-opened {
			left: 2.5%;
			bottom: 32%;
			transform: scale(0.71) translate(-20.4%, -20.4%);
		}
	}
}

// // 로그인 페이지
// #loginPage {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	padding-top: 100px;

// 	background-color: white;
// 	border-left: 3px solid #424180;
// 	width: 500px;
// 	height: 100%;

// 	transition: 0.5s ease-in-out;
// 	z-index: 50;

// 	&.close {
// 		transform: translateX(100%);
// 	}
// }

// 로그인 페이지
form {
	display: flex;
	flex-direction: column;
	align-items: center;

	// 아이디 크기 조절
	div.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
		margin-bottom: 50px;
	}

	// 인풋 정렬
	div {
		label.css-17fgrut-MuiFormLabel-root-MuiInputLabel-root {
			margin-top: 20px;
		}
	}

	// 눈 크기 조절
	button {
		svg.css-1v8usww-MuiSvgIcon-root {
			width: 30px;
			height: 30px;
		}
	}

	// 	// 버튼 크기 조절 및 정렬
	// 	.buttons {
	// 		width: 250px;
	// 		display: flex;
	// 		justify-content: space-between;
	// 		margin-top: 30px;
	// 	}

}
