.prof-main {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.image {
		display: flex;
		flex-direction: column;

		img {
			width: 300px;
			height: 300px;
			border-radius: 50%;
			border: 2px solid #424180;
			margin-bottom: 20px;
		}

		.file-label {
			display: block;
			background-color: #7b8ce0;
			border-radius: 5px;
			color: white;
			padding: 12px;
			cursor: pointer;
			width: 170px;
			margin: 0 auto;
			text-align: center;
			font-weight: 700;
		}

		.file-input {
			display: none;
		}

		span {
			margin-bottom: 0;
		}
	}

	.profile {
		display: flex;
		justify-content: space-between;
		position: relative;

		.right {
			width: 400px;
			// margin-bottom: 1px;

			div.pwInput {
				position: relative;

				input {
					width: 330px;
				}

				// 비밀번호 눈 버튼
				button.css-1vx20r6-MuiButtonBase-root-MuiIconButton-root {
					position: absolute;
					top: 33px;
					right: 0;
					transform: translate(-35%, -50%);
				}
			}
		}

		a {
			height: 40px;
			// font-size: 25px;
			bottom: -40px;
			text-align: center;
			line-height: 50px;
			cursor: pointer;
		}

		.change {
			position: absolute;
			left: 60px;
			bottom: -40px;
		}

		.no-change {
			position: absolute;
			right: 60px;
			bottom: 0px;
		}
	}

	.image-change {
		cursor: pointer;
	}
}