/*
  * 폰트 설정 *

  둘 다 굵기만 다른 같은 폰트입니다. 일괄적용한 폰트니까 만약 굵기를 다르게 주고 싶으시면 font-weight만 주시면 됩니다!
*/
@font-face {
  font-family: 'GangwonEdu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'GangwonEdu';
  font-size: 20px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 50px 0;
  text-align: center;
  color: #424180;
}

input {
  outline: none;
  border: 1px solid #424180;
  border-radius: 5px;

  box-sizing: border-box;
  padding: 10px;
  height: 40px;
}

input:read-only {
  background-color: #7b8ce0;
  cursor: not-allowed;
  color: white;
}